---
layout: post-index
title: Latest Posts
description: "An eclectic blog written by a crafty and creative programmer type."
tags: 
comments: false
image:
  feature: https://s-media-cache-ak0.pinimg.com/originals/d4/d0/53/d4d053590874b35f1002edf5836dca47.png
  credit: dargadgetz
  creditlink: http://www.dargadgetz.com/ios-7-abstract-wallpaper-pack-for-iphone-5-and-ipod-touch-retina/
---

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
          {% if post.image.feature contains 'http' %}
          <img src="{{ post.image.feature }}" alt="{{ page.title }}">
          {% else %}
          <img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ page.title }}">
          {% endif %}</a>
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% include read-time-index.html %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {{ post.content }}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

{% include pagination.html %}